## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config3 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Victoria,HK,29.44,light rain,22.29,114.16,Mini Hotel Central
1,1,Hithadhoo,MV,28.35,overcast clouds,-0.60,73.08,Scoop Guest House
2,4,Kapaa,US,27.00,broken clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
3,10,Umm Lajj,SA,29.85,scattered clouds,25.02,37.27,Moon light Furnished Units
4,14,Atuona,PF,26.05,clear sky,-9.80,-139.03,Villa Enata

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °C</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Xinyu")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Xinyu")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Jinan")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Baoding")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Nanchong")]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
260,517,Xinyu,CN,26.74,scattered clouds,27.8,114.93,Xinyu Beihu Hotel

In [36]:
start = vacation_start.to_numpy()
start = start[0][5], start[0][6]

(27.8, 114.93)

In [39]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
start = start[0][5], start[0][6]

end = vacation_end.to_numpy()
end = end[0][5], end[0][6]

stop1 = vacation_stop1.to_numpy()
stop1 = stop1[0][5], stop1[0][6]

stop2 = vacation_stop2.to_numpy()
stop2 = stop2[0][5], stop2[0][6]

stop3 = vacation_stop3.to_numpy()
stop3 = stop3[0][5], stop3[0][6]


print(start, stop1, stop2, stop3)

(27.8, 114.93) (36.67, 117.0) (38.85, 115.49) (30.8, 106.08)

In [40]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
gmaps.configure(api_key=g_key)
#Latitude-Longtitude pairs
Xinyu = start
Jinan = stop1
Baoding = stop2
Nanchong = stop3

fig = gmaps.figure()
Xinyu2Jinan = gmaps.directions_layer(Xinyu, Xinyu, waypoints=[Jinan, Baoding, Nanchong], travel_mode="DRIVING")
fig.add_layer(Xinyu2Jinan)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,517,Xinyu,CN,26.74,scattered clouds,27.80,114.93,Xinyu Beihu Hotel
1,551,Jinan,CN,28.89,broken clouds,36.67,117.00,Sofitel Silver Plaza Hotel Jinan
2,368,Baoding,CN,27.31,clear sky,38.85,115.49,Xiu Lan Hotel
3,563,Nanchong,CN,22.31,light rain,30.80,106.08,Marine Una Century Hotel

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °C</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))